QUEUE_URL=<some_url>
SOURCE_BUCKET_NAME=<some_name>
DESTINATION_BUCKET_NAME=<some_name>
DELIMITER=<some_delimiter>
OLD_PREFIX=<some_prefix>
NEW_PREFIX=<some_prefix>
POSTGRES_USER=<some_user>
POSTGRES_PASSWORD=<some_password>
POSTGRES_DB=<some_db_name>
POSTGRES_HOST=<some_host>
POSTGRES_PORT=<postgres_port>
AWS_ACCESS_KEY_ID=<some_id>
AWS_SECRET_ACCESS_KEY=<some_key>
AWS_DEFAULT_REGION=<some_region>