QUEUE_URL=<some_url>
SOURCE_BUCKET_NAME=<some_name>
OBJECT_PREFIX=<some_prefix>
DELIMITER=<some_delimiter>
AWS_ACCESS_KEY_ID=<some_id>
AWS_SECRET_ACCESS_KEY=<some_key>
AWS_DEFAULT_REGION=<some_region>